# Variável de chave de API para o Gemini (Inteligência Artificial) para geração e elaboração de contratos
GEMINI_API_KEY=

# Chave de API e ambiente para integração com o gateway de pagamentos Asaas (opcional para pré-configuração)
NEXT_PUBLIC_ASAAS_API_KEY=
NEXT_PUBLIC_ASAAS_ENV=sandbox