@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
}
